# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized

***Objectives:***
- List popular languages for Data Science
- List popular libraries for Data Science
- List commonly used Data Science tools
- Display some example Python arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Numpy
3. Pandas

|Data Science tools|
|:----------------:|
|     Jupyter      |
|   Apache Spark   |
|      KNIME       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
(200 / 60)

3.3333333333333335

## Author
Tefo Mokgoabone